spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://31.220.53.211:3306/JsotLibrary
    driverClassName: com.mysql.cj.jdbc.Driver
    username: svc_jsotlibrary
    password: Sam_12345
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL57Dialect
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
      hbm2ddl.auto: none
      temp.use_jdbc_metadata_defaults: false

qrcode-url: https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={qrCodeData}

server:
  port: 8082